body {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    background-color: rgb(36, 36, 36);
}

.search {
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    width: 270px;
    height: 40px;
    border: none;
    background-color: rgb(44, 44, 44);
    color: white;
}

.blockBG {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 99;
}

.mostPopular-inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

img {
    border-radius: 10px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
}

img:active {
    transform: scale(0.95);
}

.movieShow h1, p {
    backdrop-filter: blur(7px);
}
